
html,body{
    padding:0px;
    margin:0px;
    width: 100%;

}
.loader{
  height: 100%;
  width: 100%;
  position: fixed;
z-index: 1000;}
table tr td img{

  height:50%;
  padding: 0;

}

.scroll-top:hover{
  background: gray;
  color: white;
}
.scroll-top{
  position: fixed;
  z-index: 99;
  right: 10px;
  top: 90%;
  height: 40px;
  width: 40px;
  background:dimgray;
  text-align: center;
  cursor: pointer;
  color: ;
  display: none;
}

.scroll-top i{
  padding-top: 5px;
}
.login{color: red;}

table tr td img.main{
  height: 70%;
}
table tr td figcaption{
  margin-left: 5%;
}
.home  figcaption{
  margin-left: 33%;
}

 body{
   font-family: Quicksand;
 }
 header h1{
position: absolute;
top:50%;
left: 35%;
text-shadow:2px 2px gray;

 }
 .top-header{
   background:hsla(27, 11%, 43%,0.99);
   width: 100%;
   height: 5vh;

 }

 input[type=text] ,input[type=password],input[type=email],input[type=number]{
     background: transparent;
     border: none;
     border-bottom: 1px solid #000000;
     display: block;
       padding: 5px 20px;

 }
 input[type=text]:focus ,input[type=password]:focus,input[type=email]:focus,input[type=number]:focus{
outline: none;
 }
 header{
   width: 100%;
   height: 100vh;
   background: url(https://lh3.googleusercontent.com/EwAcebbw_YaWaMJiCYmawaFoBpTtQMI8qmMSX1Wbq5X3c3UXERXzJjjGYVnOHc7FM5LUvVuafnlVv01XGrrVzPLo0Qdh6l8LC2fOmFmyi-HobMuCu-3alySwr2MXab-cbajdU3NM8NetI-E3xkVDLum0quLk-u5DsnEVX5jHPe_529i0KGSbsdvkGx8fMhSu2CTkUGYUdrRuWplSZCsWpnU3jhc93cp1JMdQs284GxbmgkMZK4ym6OtgqMBs2QpV9omYfRyyf9mkPZm_RGbxornQ4Ah7BYoRquRAquyzqZ1NrYy6_h1azXdLx6SLhbxaAVjY6vef6xQBMB2KezSGoBcp5rZnRgr44m3tMJgE3U2Uy-Uptzjhkzz3u-2Wo-alOoG3ueHim63KZN5oc9FrAHQMCdts116CKu3MS8VZPzIACq0lUN4wJQUpbJqR1gSarWgMmxdiV-RVksBSmV-tr-mHSK4hEaWbOANGERJnb7hZPJWiZ69d6rc5iuZJIZEZVlwe0Vhjg4hgcvsQMmkvuY8zblb6TAdVgvjn5rcavwymbOBcDR7G0Kzx349nBLOoFZ6JvcASaLIiiFZstUIW-BfprvoJxNOjU49NuNtw8Ri6K-OCukKCzsQsJLGTRvQ=w994-h662-no) no-repeat 50% 50%;
   background-size: cover;
   z-index:98;
 }

.content{
  width: 90%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;


}
.logo{
  position: fixed;

  float: left;
  margin: 16px 35px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}
nav{
  position: static;
  width: 100%;
  z-index:100;
  top:0px;

}
nav ul{
  list-style: none;
  background: rgba(0,0,0,0);
  overflow: hidden;
  color:#fff;
  padding: 0px;
  text-align: center;
  margin: 0;
  transition:1s;


}

nav.gray ul{
background: hsla(210, 0%, 57%, 1);

}
nav.gray{
  position: fixed;
  top: 0px;
}
nav ul li{
  display:inline-block;
  padding: 15px;


}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
    text-shadow: 1px 1px black;
}
nav ul li a:hover{
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px white;
}
.menu-icon{
  width: 100%;
  background: hsla(210, 0%, 57%, 1);
  text-align: right;;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;

}
.form-control{
  width: 70%;
  margin:  7px;
}
.projects{
  width:24.5vw;
  height:300px;
}
body.modal-open {
    overflow: hidden;
}

.login-signup input{
  width: 40%;
}
.login-signup{
  width:80%;
  padding-top: 30vh;
padding-bottom:30vh;

}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
  color: black;
}
.dimgray{
  color: dimgray;
}
.info{
  padding-top:5px;
font-size: 13px;
}
.top-header .float-right{
  padding-right: 10px;
}



.img-close{
   position: absolute;
    top: 8px;
    right: 16px;
     color:black;


}
.img-close:active{
    outline:none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: 1em;
    background: hsla(210, 0%, 57%, 0.99);
    height: 125px;

}
.row {
      position:static;
      z-index: -1;
}
.offers-container
{
  padding-top: 20vh;
  padding-bottom: 20vh;

}
.services-container,.projects-container{
  font-size: 20px;
    line-height: 30px;
    padding-top:10vh;
    padding-bottom: 10vh;
    background: hsla(0, 0%, 88%, 0.77);

}
.cont-frm-container{
  height: auto;
  background:hsla(0, 0%, 88%, 0.77);
  border-radius: 1%;
  padding-top:12vh;
  width: 50vw;
  transform: translate(35%);

}
.cont-frm-container input{
  width: 70%;
}
.cont-frm-container textarea{
  resize: none;
  height: 19vh;
}
.projects-container{
  background: #fff;
margin-top: 20px;

}

.usrnmpw-error{
  color:red;
  display:none;
}
.modal{
  top: 25%;
}
.services-container  img{
  border-radius: 25%;
  height: 35%;  
}

.signup{
  display:none;
}
#topLogin {margin-bottom: 10vh;}


@media(max-width:600px) {
  .logo{
    position: absolute;
    top: 0px;
    margin-top: 16px;
  }
  nav{
    position:fixed;
    top:4vh;
  }
  nav.gray .logo{
    top:0px;
  }
nav.gray{
  position: fixed;
  top:0px;
}
  nav ul{
    max-height: 0px;
    background:gray;


  }
  nav.gray ul{
    background: gray;

  }
  .showing{
    max-height: 20em;
  }
  nav ul li{
    box-sizing: bord-box;
    width: 100%;
    padding:24px 0;
    text-align: center;
  }
  .menu-icon{
    display: block;
  }
  .info{

    font-size: 15px;
  }
  .infos{
    font-size: 12px;
  }
  .top-header{
    height: 5vh;
  }
  header h1{
    font-size: 35px;

    left: 15%;
  }  header h1.services{
      font-size: 35px;

      left: 20%;
    }
  .services{
    height: 300px;
  }
  .projects{
    width:23vw;
    height:150px;
  }
  table tr td img.services{
width: 100%;
height: 35%;
    }
  table tr td img.others{
    width: 100%;
    height: 25%;
padding: 0;

  }

  table tr td img.main{
    height: 50%;
    padding: 0;
  }

  .form-control{
    width: 90%;

  }




  .projects-container h3,.cont-frm-container h3{
    font-size: 20px;
  }
  .cont-frm-container p{
    font-size: 15px;
  }
  .cont-frm-container h1{
    font-size:  32px;
  ;
  }
    .cont-frm-container {
      width: 90vw;
      transform: translate(0);
    }
    .cont-frm-container input{
      width: 90%;
    }
  .login-signup{
    width:100%;}
    .login-signup input{
      width:100%;}

    .info{
      font-size: 0.7em;
    }
}
